body{
    padding: 10px;
    margin: 10px;
    background-color: azure;
}

.blog{
    padding-left: 40px;
    margin: 10px;
    background-color: rgb(196, 196, 238);
    text-align: justify;
    border: solid crimson;
    border-width: 30px;
    border-radius: 50px;
}

.hadding{
    text-align: center;
    color: brown;
}

span{
    color: rgb(255, 0, 0);
}